@import url("https://use.typekit.net/xuu1wgh.css");

/* General  */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #111111;
    color: #fff2df;
    text-transform: uppercase;
    position: relative;
}

/* Links */
a {
    font-family: "bebas-neue-pro-expanded", sans-serif;
    font-weight: 100;
    font-size: 2vh;
    text-align: center;
    text-decoration: underline;
    color: #fff2df;
    letter-spacing: 5px;
    display: block;
    margin-top: 20px;
    position: relative;
    z-index: 2000;
}

/* Parent Grid Layout */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 20px; 
    padding: 0 20px;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
}

/* Grid Items */
.div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 0;
    margin-top: -400px;
}

.div2 {
    grid-column: 2 / 3; 
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    margin-top: -200px;
}

.div3 {
    grid-column: 2 / 3; 
    grid-row: 2 / 3;
    margin-top: -500px;
}

/* Headings */
h1, h2 {
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    text-align: center;
    letter-spacing: 20px;
    margin: 1px 0;
}

h1 {
    font-size: 12vh;
}

h2 {
    font-size: 8vh;
}

/* Text divs */
.div2, .div3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "tablet-gothic", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2vh;
    letter-spacing: 3px;
    text-align: justify;
    line-height: 35px;
    mix-blend-mode: difference;
}

/* Button */
button {
    appearance: none;
    background-color: #fff2df;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #111111;
    cursor: pointer;
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-size: 4vh;
    padding: 10px 16px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
}

button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Dots */
.dot1, .dot2, .dot3, .dot4, .dot5 {
    width: 300px;
    height: 300px;
    background-color: #fff2df;
    border-radius: 50%;
    position: absolute;
    z-index: 1500;
    mix-blend-mode: difference;
}

.dot1 {
    top: -20%;
    left: 10%;
}

.dot2 {
    top: -20%;
    right: 10%;
}

.dot3 {
    top: 30%;
    left: 10%;
}

.dot4 {
    top: 30%;
    right: 10%;
}

.dot5 {
    top: 80%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.image-row img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    object-fit: contain; 
}